.form {
  h2 {
    font-size: 1.2em;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.fullWidth {
  width: 100%;
  display: flex;
  input,
  textarea {
    flex-grow: 2;
  }
}

.note {
  color: #999;
  font-size: 0.9em;
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #999;
  border-radius: 4px;
}
